<div class="panel panel-info show-project-page">
  <div class="panel-heading">
    <p id="notice"><%= notice %></p>
  </div>
  
  <div class="panel-body">
    <p>
      <strong>Título do teste</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>O que vai testar?</strong>
      <%= @project.test_platform %>
    </p>

    <p>
      <strong>Url</strong>
      <%= @project.url %>
    </p>
  </div>

  <div class="panel-footer text-center">
    <%= link_to 'Voltar', :back, :class => "btn btn-primary btn-block" %>
  </div>
</div>