<section id="new-public" class="user-bg-white review-page">
  <div class="container-steps-content">
    <div class="nav-box">
      <ul class="user-steps-nav">
        <li <%= params[:controller] == "script" ? "class=active" : "class=disable"%>>
          <%= link_to "Roteiro", project_script_path(@project) %>
        </li>
        <li <%= params[:controller] == "publics" ? "class=active" : "class=disable"%>>
          <%= link_to("Público", @public.present? ? edit_project_public_path(@project, @public) : new_project_public_path(@project))%>
        </li>
      </ul>
    </div>

    <div class="panel panel-info show-project-page">
      <div class="panel-heading">
        <p id="notice"><%= notice %></p>
      </div>

      <div class="test-show">
        <%= render partial: "projects/show"  %>
      </div>

      <div class="tasks-show">
        <%= render partial: "tasks/show"  %>
      </div>

      <div class="asks-show">
        <%= render partial: "asks/show"  %>
      </div>
    </div>
  </div>
</section>
