<%= link_to "Roteiro"   , project_script_path(@project) %>
<%= link_to "Público"   , project_script_path(@project, @public) %>

<div class="panel panel-info show-project-page">
  <div class="panel-heading">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="panel-body">
    <p>
      <strong>Nome</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>O que vai testar?</strong>
      <%= @project.test_platform %>
    </p>

    <p>
      <strong>URL</strong>
      <%= @project.url %>
    </p>
    <%= link_to "Editar Teste", edit_project_path(@project)%>
  </div>

  <% @tasks.each do |task| %>
    <div class="panel-body">
      <p>
        <strong>Objetivo</strong>
        <%= task.objective %>
      </p>

      <p>
        <strong>URL</strong>
        <%= raw(task.url) %>
      </p>

      <p>
        <strong>Cenário</strong>
        <%= task.cenary %>
      </p>
    </div>
    <%= link_to "Editar Tarefa", edit_project_task_path(@project, task) %>
  <% end %>

  <% @asks.each do |ask| %>
    <div class="panel-body">
      <p>
        <strong>Objetivo</strong>
        <%= ask.ask_type %>
      </p>

      <p>
        <strong>URL</strong>
        <%= ask.question %>
      </p>
    </div>
    <%= link_to "Editar Pergunta", edit_project_ask_path(@project, ask) %>
  <% end %>
</div>
