<div class="task-form">
  <%= simple_form_for(@task, html: {class: "form-signin"}, url: project_tasks_path) do |f| %>
    <%= f.error_notification %>

    <%= f.input :objective, label: "Objetivo", required: true, autofocus: true, input_html: {class: "form-control"}%>
    <%= f.input :url, label: "URL", required: true, autofocus: true, input_html: {class: "form-control"}%>
    <%= f.input :cenary, label: "Cenário", required: true, autofocus: true, input_html: {class: "form-control"}, :as => :text%>
    

    <div class="new-project-buttons">
      <button class="next-button">
        <%= f.button :submit, :class => "btn btn-lg btn-primary btn-block", value: "Salvar", 'data-disable-with' => "..." %>
      </button>
    </div>
  <% end %>
</div>