<div class="form-title">
  <h2 class="tasks-title-review">Tarefas</h2>
</div>
<% @tasks.each do |task| %>
  <div class="ask-show-container">
    <div class="template-example">
      <div class="title">
        <h3>Tarefa:</h3>
      </div>
      <div class="template-content">
        <p><%= task.objective %></p>
      </div>
    </div>
    <div class="template-example">
      <div class="title">
        <h3>URL:</h3>
      </div>
      <div class="template-content">
        <p><%= raw(task.url) %></p>
      </div>
    </div>
    <div class="template-example">
      <div class="title">
        <h3>Cenário:</h3>
      </div>
      <div class="template-content">
        <p><%= task.cenary %></p>
      </div>
    </div>

    <div class="project-footer-buttons-tasks">
      <% unless request.path.include? "roteiro" %>
        <button class="delete-button">
          <%= link_to "Excluir", project_task_path(@project, task) , method: :delete, data: {confirm: "Deseja mesmo excluir esta tarefa?"}, :class => "pull-right" %>
        </button>
        <button class="edit-button">
          <%= link_to("Editar Tarefa", edit_project_task_path(@project, task)) if current_page?(project_tasks_path)%>
        </button>
      <% end %>
    </div>

    <div class="form-title">
      <h2 class="tasks-title-review">Respostas</h2>
    </div>
    <%task.answers.each do |answer|%>
      <h2>Usuário:</h2><%= answer.tester.full_name%>
      <h2>Resposta:</h2><%= answer.testers_answer%>
    <%end%>
  </div>
<% end %>
