<div class="form-title">
  <h2 class="tasks-title-review">Perguntas</h2>
</div>
<% @asks.each do |ask| %>
  <div class="ask-show-container">
    <div class="template-example">
      <div class="title">
        <h3>Objetivo</h3>
      </div>
      <div class="template-content">
        <p> <%= ask.ask_type %> </p>
      </div>
    </div>

    <div class="template-example">
      <div class="title">
        <h3>Pergunta</h3>
      </div>
      <div class="template-content">
        <p> <%= ask.question %> </p>
      </div>
    </div>

    <div class="form-title">
      <h2 class="tasks-title-review">Respostas</h2>
    </div>
    <%ask.answers.each do |answer|%>
      <h2>Usuário:</h2><%= answer.tester.full_name%>
      <h2>Resposta:</h2><%= answer.testers_answer%>
    <%end%>

    <div class="project-footer-buttons">
      <% unless request.path.include? "roteiro" %>
        <button class="delete-button">
          <%= link_to "Excluir", project_ask_path(@project, ask) , method: :delete, data: {confirm: "Deseja mesmo excluir esta pergunta?"}, :class => "pull-right" %>
        </button>
        <%= link_to("Editar Tarefa", edit_project_ask_path(@project, ask)) if current_page?(project_asks_path)%>
      <% else %>
        <%= link_to("Editar Tarefa", edit_project_ask_path(@project, ask)) if current_page?(project_asks_path)%>
      <% end %>
    </div>
  </div>
<% end %>
