<div class="form-title">
  <h2 class="tasks-title-review">Perguntas</h2>
</div>
<% @asks.each do |ask| %>
  <div class="ask-show-container">
    <div class="template-example">
      <div class="title">
        <h3>Objetivo</h3>
      </div>
      <div class="template-content">
        <p> <%= ask.ask_type %> </p>
      </div>
    </div>

    <div class="template-example">
      <div class="title">
        <h3>Pergunta</h3>
      </div>
      <div class="template-content">
        <p> <%= ask.question %> </p>
      </div>
    </div>

    <div class="project-footer-buttons-tasks">
      <% unless request.path.include? "roteiro" %>
        <button class="delete-button">
          <%= link_to "Excluir", project_ask_path(@project, ask) , method: :delete, data: {confirm: "Deseja mesmo excluir esta tarefa?"}, :class => "pull-right" %>
        </button>
        <button class="edit-button">
          <%= link_to("Editar Tarefa", edit_project_ask_path(@project, ask)) if current_page?(project_asks_path)%>
        </button>
      <% end %>
    </div>

    <div class="form-title tasks-show-border">
      <h2 class="tasks-title-review">Respostas</h2>
    </div>
    <div class="answers-show">
      <%ask.answers.each do |answer|%>
        <div class="tester-name">
          <h2>Usuário:</h2>
          <p> <%= answer.tester.full_name%> </p>
        </div>
        <h2>Resposta:</h2>
        <p> <%= answer.testers_answer%> </p>
      <%end%>
    </div>
  </div>
<% end %>
