<section id="tester-register-step2">
  <div class="header-step2">
    <div class="img-box-mask">
      <div class="img-box">

      </div>
    </div>
    <h2 tabindex="0">Cadastro de <br> pessoa com deficiência</h2>
    <div class="title">
      <h3 tabindex="0">Agora, alguns dados cadastrais</h3>
    </div>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>

    <div class="form-inputs">
      <%= f.input :full_name, required: true, autofocus: true, label: "Nome Completo", :class => "full" %>
      <%= f.input :email, required: true, autofocus: true, label: "E-mail", :class => "large" %>
      <%= f.input :age, required: true, label: "Idade", :class => "small" %>
      <%= f.input :gender, required: true, label: "Gênero", :as => :radio_buttons %>
      <%= image_tag("man-icon-purple.png", :class => "man-icon-purple") %>
      <%= image_tag("woman-icon-purple.png", :class => "woman-icon-purple") %>
      <%= f.input :password, required: true, label: "Senha", :class => "medium" %>
      <%= f.input :password_confirmation, required: true, label: "Repetir senha", :class => "medium" %>
      <%= f.input :kind_of_disability, required: true, label: "Qual é a sua deficiência? Selecione no mínimo uma.", :class => "medium", :as => :check_boxes %>
      <%= image_tag("cego.png", :class => "cego") %>
      <%= image_tag("baixa-visao.png", :class => "baixa-visao") %>
      <%= image_tag("surdez.png", :class => "surdez" )%>
      <%= image_tag("def-auditiva.png", :class => "def-auditiva") %>
      <%= image_tag("def-fisica.png", :class => "def-fisica") %>
      <%= image_tag("def-fis-severa.png", :class => "def-fisica-severa") %>
      <!--     <%= f.input :schooling, required: true, label: "Escolaridade" %>
          <%= f.input :locale, required: true, label: "Localidade" %>
          <%= f.input :role, required: true, label: "Profissão" %> -->

      <div class="extra-infos">
        <p>
          Onde conheceu o Integra? (opcional)
        </p>
        <div class="checkbox">
          <input id="a" type="checkbox" />
          <p>Redes Sociais</p>
        </div>

        <div class="checkbox">
          <input id="b" type="checkbox" />
          <p>Anúncios</p>
        </div>

        <div class="checkbox">
          <input id="c" type="checkbox" />
          <p>Outros (escreva)</p>
          <input type="text" class="tester_another_reason">
        </div>

        <div class="radio-box">
          <input id="d" type="radio" class="radio-active" name="re"/>
          <p>Li e aceito os <b>termos de serviço*</b></p>
        </div>

        <div class="checkbox">
          <input id="e" type="checkbox" class="radio-active" name="test"/>
          <p>Aceito receber e-mails com notícias e novidades do Integra</b></p>
        </div>

        <p>Todos os campos com * são obrigatórios</p>
      </div>

      <div class="form-actions">
        <button class="back-button">
          <%= link_to("Voltar", user_type_path) %>
        </button>
        <button class="next-button tester-button">
          <%= f.button :submit, "Continuar" %>
        </button>
      </div>
    </div>
  <% end %>

  <div class="register-progress-bar">
    <%= image_tag("user_type/progresso-purple.svg") %>
    <div class="full-bar">
      <div class="step1 active"></div>

      <div class="step2 active"></div>

      <div class="step3 disable"></div>
    </div>
    <div class="line-bar"></div>
    <p>
      Passo 2 <br>
      Dados Cadastrais
    </p>
  </div>
</section>
