<div class="public-form">
  <%= simple_form_for(@public, html: {class: "form-signin"}, url: project_publics_path(@project)) do |f| %>
    <%= f.error_notification %>
    <p class="title">
      Dados Básicos
    </p>
    <p class="age_title">
      Idade
    </p>
    <%= f.input :age_range_start, label: "De:", required: true, autofocus: true, input_html: {min: '0', step: 'any', max: '100' }%>
    <%= f.input :age_range_end, label: "Até", required: true, autofocus: true, input_html: {min: '0', step: 'any', max: '100' }%>
    <%= f.input :gender, label: "Gênero", required: true, autofocus: true, input_html: {class: "form-control"}, :as => :radio_buttons %>
    <%= f.input :kind_of_disability, label: "Tipo de deficiência", required: true, autofocus: true, input_html: {class: "form-control"}, :as => :check_boxes, multiple: true %>
    <p class="participants-infos">
      Escolha quantos participantes para teste teste você quer, o ideal são 5 partincipantes e recomendamos
      não usar mais de 10 partincipantes para melhor eficiência.
    </p>
    <%= f.input :participants, label: "Participantes", required: true, autofocus: true, input_html: {min: '0', step: 'any', max: '100' } %>
    <div class="new-project-buttons">
      <button class="back-button">  <%= link_to 'Voltar', :back, :class => "btn btn-primary btn-block btn-lg" %> </button>
      <button class="next-button">  <%= f.button :submit, :class => "btn btn-lg btn-primary btn-block", value: "Continuar", 'data-disable-with' => "..." %> </button>
    </div>
  <% end %>
</div>
