<div class="panel panel-info show-project-page">
  <div class="panel-heading">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="panel-body">
    <p>
      <strong>De</strong>
      <%= @public.age_rend_start %>
    </p>

    <p>
      <strong>Até</strong>
      <%= @public.age_range_end %>
    </p>

    <p>
      <strong>Sexo</strong>
      <%= @public.gender %>
    </p>

    <p>
      <strong>Escolaridade</strong>
      <%= @public.schooling %>
    </p>

    <p>
      <strong>Localidade</strong>
      <%= @public.locale %>
    </p>

    <p>
      <strong>Profissão</strong>
      <%= @public.role %>
    </p>

    <p>
      <strong>Pessoas com deficiência</strong>
      <%= @public.kind_of_disability %>
    </p>

    <p>
      <strong>Participantes</strong>
      <%= @public.participants %>
    </p>
  </div>
</div>
