<section id="new-ask" class="user-bg-white blog-page">
  <div class="container-steps-content">  
    <div class="form-box template-tasks-box how-to-page">
      <div class="form-title">
        <h2>Projeto integra</h2>
      </div>

      <div class="template-example how-to-example">
        <div class="template-content">
          <p>
            O acesso à informação é um direito de todos, mas nem sempre isso é garantido. Muitos sites na internet possuem dificuldades de acesso por pessoas com deficiência, dificultando ações básicas como a realização de compras on-line. Muitas vezes esses sites não são acessíveis pelo simples fato do time de desenvolvimento não conhecer as técnicas de acessibilidade, ou até mesmo as particularidades deste público. <br> <br>
            O <b>Projeto Integra</b> pretende mudar este cenário. Trata-se de uma plataforma que viabiliza a comunicação entre pessoas com deficiências e designers envolvidos em projetos de web, por meio de testes de usabilidade segmentados especialmente para pessoas com deficiência.
          </p>
        </div>
      </div>

      <div class="prices-infos">
        <div class="credits">
          <p>Inclusão</p>
          <p>Design</p>
          <p>Colaboração</p>
        </div>

        <div class="value">
          <p>Acessibilidade</p>
          <p>Responsabilidade</p>
          <p>Tecnologia</p>
        </div>
      </div>

      <div class="form-title">
        <h2>Como Funciona</h2>
      </div>

      <div class="template-example how-to-example">
        <div class="title">
          <h2>Cliente</h2>
        </div>
        <div class="template-content">
          <div class="how-to-steps">
            <p>
              Cliente contrata
              o serviço
            </p>
            <i class="ion-social-usd"></i>
          </div>
          <div class="how-to-steps">
            <p>
              Montagem do
              teste conforme
              a necessidade
            </p>
            <%= image_tag("step2-user.png") %> 
          </div>
          <div class="how-to-steps">
            <p>
              Testadores 
              recebem o teste 
              para ser feito
            </p>
            <%= image_tag("step3-user.png") %> 
          </div>
          <div class="how-to-steps">
            <p>
              Relatório
              final
            </p>
            <%= image_tag("step4-user.png") %> 
          </div>
        </div>
      </div>

      <div class="template-example how-to-example">
        <div class="title">
          <h2>Testador</h2>
        </div>
        <div class="template-content how-to-steps-tester">
          <div class="how-to-steps">
            <p>
              Você encontra
              os testes disponíveis
              no seu dashboard
            </p>         
            <%= image_tag("step1-tester.png") %> 
          </div>
          <div class="how-to-steps">
            <p>
              Responda o teste
              apropriadamente
            </p>   
            <%= image_tag("step2-tester.png") %>     
          </div>
          <div class="how-to-steps">
            <p>
              Receba seu
              pagamento
            </p>        
            <i class="ion-social-usd"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>