<section id="home-page">
  <div class="main-banner">
    <div class="text-box">
      <p tabindex="0">
        <b>Seu produto é acessível?</b>
      </p>
      <h1 tabindex="0">
        <b>Ninguém melhor que uma pessoa com deficiência pra te dizer isso.</b>
      </h1>
    </div>

    <div class="main-banner-buttons">
      <button>
        <%= link_to("Quero testar meu produto", new_user_registration_path) %>
      </button>

      <button>
        <%= link_to("Quero ser um testador", new_tester_registration_path) %>
      </button>
    </div>
  </div>

  <div class="how-it-work">
    <div class="title">
      <h1 tabindex="0">Como funciona</h1>
    </div>

    <div class="how-to-steps with-three-columns">
      <div class="steps">
        <div class="img-step">
          <%= image_tag("home/script-icon.svg") %> 
        </div>
        <div class="text-step">
          <h2 tabindex="0">
            Roteiro
          </h2>
          <p tabindex="0">
            Crie um roteiro de teste com tarefas 
            a serem realizadas. Você pode especificar qual é a deficiência que você está precisando testar.
          </p>        
        </div>
      </div>

      <div class="steps">
        <div class="img-step">
          <%= image_tag("home/blind-icon.svg") %> 
          <%= image_tag("home/deaf-icon.svg") %> 
        </div>
        <div class="text-step">
          <h2 tabindex="0">
            Submeta o teste
          </h2>
          <p tabindex="0">
            Pessoas com a deficiência que você
            especificou tentarão realizar as suas tarefas e criarão um relatório detalhado com a experiência de uso em sua interface.
          </p>
        </div>
      </div>

      <div class="steps">
        <div class="img-step">
          <%= image_tag("home/report-icon.svg") %> 
        </div>
        <div class="text-step">
          <h2 tabindex="0">
            Receba relatórios
          </h2>
          <p tabindex="0">
            Você receberá dados detalhados
            sobre a experiência relatada pelos
            usuários. Assim fica mais fácil saber
            como solucionar problemas de interface!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="start-to-use">
    <h1 tabindex="0">
      Comece a usar agora
    </h1>

    <p tabindex="0">
      Coloque seu site em teste por pessoas com deficiência. <br>
      É a chance de garantir que seu projeto seja inclusivo do início ao fim.
    </p>

    <button>
      <%= link_to("Criar Conta", user_type_path) %>
    </button>
  </div>

  <div class="acessibility-info">
    <h1 tabindex="0">
      Você sabe como pessoas  <br>
      com deficiência usam a internet?
    </h1>
    
    <p tabindex="0">
      Usabilidade é um assunto amplo e o senso comum nos traz à mente apenas aspectos de uso de pessoas que usam as mãos e em telas convencionais. <br>
      Mas o que acontece se o usuário não possui uma das mãos? E se não possui visão, ou audição? 
      Não precisa ficar com medo. Com o Integra você consegue tirar essas dúvidas direto da fonte, com testes de usabilidade realizados por pessoas com deficiência.
    </p>
  </div>

  <div class="newsletter">
    <div class="newsletter-box">
      <%= image_tag("home/newsletter-icon.svg") %>
    </div>
    
    <div class="newsletter-text">
      <h1 tabindex="0">
        Receba nossa newsletter
      </h1>

      <p tabindex="0">
        Dicas de usabilidade, notícias sobre pessoas com deficiência, avanços de leis e outros assuntos relacionados. Mantenha-se informado! :)
      </p>
    </div>

    <%#= f.text_field :email, name: 'email', id: 'email', type: 'email', placeholder: "Endereço de e-mail", required: true %>
    <input type="email" id="email" name="usermail" placeholder="Endereço de e-mail" required />
    <button>OK</button>
  </div>

  <div class="news">
    <div class="title">
      <h1 tabindex="0">Acompanhe nosso Medium</h1>
    </div>

    <div class="with-three-columns">
      <article>
        <figure>
          <div class="post-blog-box">
            <%= link_to "https://medium.com/@integraprojeto2017/hoje-eu-quero-voltar-sozinho-chegou-no-netflix-e-isso-%C3%A9-muito-importante-6e30e21f15ec", target: "_blank" do %>
              <%= image_tag("home/thumb1.png") %>
            <% end %>
          </div>
          <figcaption>
            <%= link_to "https://medium.com/@integraprojeto2017/hoje-eu-quero-voltar-sozinho-chegou-no-netflix-e-isso-%C3%A9-muito-importante-6e30e21f15ec", target: "_blank" do %>
              <h2 tabindex="0">Hoje Eu Quero Voltar Sozinho’ chegou no Netflix e isso é muito importante</h2>
            <% end %>
            <p tabindex="0">Além de ter uma trilha sonora incrível e atuações impecáveis, esse filme mostra com clareza e delicadeza como a inclusão pode ser natural....</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <div class="post-blog-box">
            <%= link_to "https://medium.com/@integraprojeto2017/seu-logotipo-%C3%A9-visto-por-todos-mas-quem-n%C3%A3o-enxerga-como-o-percebe-1c2f0d49a08e", target: "_blank" do %>
              <%= image_tag("home/thumb2.png") %>
            <% end %>
          </div>
          <figcaption>
            <%= link_to "https://medium.com/@integraprojeto2017/seu-logotipo-%C3%A9-visto-por-todos-mas-quem-n%C3%A3o-enxerga-como-o-percebe-1c2f0d49a08e", target: "_blank" do %>
              <h2 tabindex="0">Seu logotipo é visto por todos? Mas quem não enxerga, como o percebe?</h2>
            <% end %>
            <p tabindex="0">Ei você. Gestor de marcas, Designer gráfico, profissional de Naming, Branding...</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <div class="post-blog-box">
            <%= link_to "https://medium.com/@integraprojeto2017/capacitismo-o-que-%C3%A9-onde-vive-como-se-reproduz-5f853fcb9ba5", target: "_blank" do %>
              <%= image_tag("home/thumb3.jpg") %>
            <% end %>
          </div>
          <figcaption>
            <%= link_to "https://medium.com/@integraprojeto2017/capacitismo-o-que-%C3%A9-onde-vive-como-se-reproduz-5f853fcb9ba5", target: "_blank" do %>
              <h2 tabindex="0">Capacitismo: O que é, onde vive, como se reproduz?</h2>
            <% end %>
            <p tabindex="0">Sou instrutor do laboratório de informática do Instituto de atendimento a pessoas cegas de minha cidade, recebo gente das mais diversas faixas...</p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>
</section>