<div class="nav-box">
  <ul class="user-steps-nav">
    <li <%= current_page?(new_project_path) ? "class=active" : "class=disable"%>>
      <%= link_to "Teste", "#" %>
    </li>
    <li <%= params[:controller] == "tasks" ? "class=active" : "class=disable"%>>
      <%= link_to "Tarefas", project_tasks_path(@project)  %>
    </li>

    <li <%= params[:controller] == "asks" ? "class=active" : "class=disable"%>>
      <%= link_to "Perguntas", project_asks_path(@project) %>
    </li>

    <li <%= params[:controller] == "publics" ? "class=active" : "class=disable"%>>
      <%= link_to "Público", @project.publics.present? && @project.publics.first.persisted? ? edit_project_public_path(@project, @project.publics.first) : new_project_public_path %>
    </li>
    <li <%= params[:controller] == "credits" ? "class=active" : "class=disable"%>>
      <%= link_to "Créditos", project_credits_path(@project) %>
    </li>
  </ul>
</div>
