<section id="user-project">
  <section class="project-box">
    <div class="project-infos">
      <h1 tabindex="0"> <%= project.name %> </h1>
      <p tabindex="0">
        Status: <strong> <%= project.status%> </strong>
      </p>
      <p tabindex="0">
        Criado há: <%= time_ago_in_words(project.created_at) %> atrás
      </p>
      <p tabindex="0">
        <%if project.publics.present?%>
          Respostas: <%=project.number_answers.present? ? project.number_answers : 0  %>/<%= project.publics.first.participants %>
        <%else%>
          Respostas: --
        <%end%>
      </p>
      <% if project.status == "sent"%>
        <%= link_to project_script_path(project) do %>
          <button class="answers-button">
            Ver Respostas
          </button>
        <%end%>
      <% elsif project.status == "in_progress" %>
        <%= link_to project_script_path(project) do %>
          <button class="answers-button">
            Ver Respostas
          </button>
        <% end %>
      <%end%>

      <div class="answers-progress-bar">
        <div class="full-bar">
          <div class="step1 disable"></div>

          <div class="step2 disable"></div>

          <div class="step3 disable"></div>

          <div class="step4 disable"></div>

          <div class="step5 disable"></div>
        </div>
        <div class="line-bar"></div>
      </div>

      <div class="project-footer-buttons">
        <% if project.status == "draft" %>
          <button class="edit-button">
            <%= link_to "Editar", edit_project_path(project)%>
          </button>
        <% end %>
        <button class="delete-button">
          <%= link_to "Excluir", project_path(project) , method: :delete, data: {confirm: "Deseja mesmo excluir este projeto?"}, :class => "pull-right" %>
        </button>
        <!-- <button class="copy-button">
          <%= link_to "Copiar", project_path(project) , method: :delete, data: {confirm: "Deseja copiar as pré definições deste teste?"}, :class => "pull-right" %>
        </button> -->
      </div>
    </div>

    <div class="panel-footer text-center">
      <!--     <strong> O que vai testar? </strong><br>
          <%= project.test_platform %><br><br>
          <strong> URL </strong><br>
          <%= raw(project.url_html) %> -->
      <!-- <%= link_to "<i class='fa fa-plus-circle'></i> Finalizados".html_safe, change_project_path(project, status: "Ativo"), method: :put, :class => "btn btn-info btn-md btn-block" %>

      <%= link_to "<i class='fa fa-plus-circle'></i> Espera".html_safe, change_project_path(project, status: "Aguardando Resposta"), method: :put, :class => "btn btn-info btn-md btn-block" %> -->
    </div>
  </section>
</section>
