<div class="ask-show-container">
  <div class="template-example">
    <div class="title">
      <h3><%= @task.objective %></h3>
    </div>
  </div>
  <div class="template-example">
    <div class="template-content">
      <p><%= @task.cenary %></p>
    </div>
  </div>
</div>

<%= simple_form_for(@answer, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :answer, label: "Resposta", required: true, autofocus: true, input_html: {class: "form-control"}, error: "Por favor preencha todos os campos", :as => :string %>

  <div class="new-project-buttons">
    <button class="back-button">  <%= link_to 'Voltar', :back, :class => "btn btn-primary btn-block btn-lg" %> </button>
    <button class="next-button">  <%= f.button :submit, :class => "btn btn-lg btn-primary btn-block", value: "Continuar", 'data-disable-with' => "..." %> </button>
  </div>
<% end %>
