<section id="new-public" class="tester-bg review-page">
  <div class="container-steps-content">
    <div class="form-box tasks-box tester-template-content">
      <div class="task-form">
        <div class="ask-show-container tester-template">
          <div class="template-example tester-template-content">
            <div class="title ask-answers">
              <h3 tabindex="0">Objetivo:</h3>
            </div>
            <div class="template-content tester-template-content ask-answers">
              <p tabindex="0"><%= @task.objective %></p>
            </div>
          </div>
          <div class="template-example tester-template-content">
            <div class="title ask-answers">
              <h3 tabindex="0">Cenário:</h3>
            </div>
            <div class="template-content tester-template-content ask-answers">
              <p tabindex="0"><%= @task.cenary %></p>
            </div>
          </div>
        </div>

        <%= simple_form_for(@answer, html: {class: "form-signin ask-answers"}, url: create_answer_path(@project, @task)) do |f| %>
          <%= f.error_notification %>

          <%= f.input :testers_answer, label: "Resposta", required: true, autofocus: true, input_html: {class: "form-control"}, error: "Por favor preencha todos os campos", :as => :text %>

          <div class="new-project-buttons ask-buttons-confirm">
            <button class="back-button">  <%= link_to 'Voltar', worker_projects_tasks_path, :class => "btn btn-primary btn-block btn-lg" %> </button>
            <button class="next-button">  <%= f.button :submit, :class => "btn btn-lg btn-primary btn-block", value: "Salvar", 'data-disable-with' => "..." %> </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
