<div class="public-form">
  <%= simple_form_for(@credit, html: {class: "form-signin"}, url: project_credits_path) do |f| %>
    <%= f.error_notification %>


    <div class="new-project-buttons">
      <button class="back-button back-credit">  <%= link_to 'Voltar', :back, :class => "btn btn-primary btn-block btn-lg" %> </button>
      <button class="back-button credit-button">  <%= link_to 'Comprar créditos', :back, :class => "btn btn-primary btn-block btn-lg" %> </button>
      <button class="next-button">  <%= f.button :submit, :class => "btn btn-lg btn-primary btn-block", value: "Finalizar", 'data-disable-with' => "..." %> </button>
    </div>
  <% end %>
</div>
