<section id="home-page" class="blog-page"> 
  <div class="news">
    <div class="title">
      <h1 tabindex="0">Blog Integra</h1>
    </div>

    <div class="with-three-columns">
      <article>
        <figure>
          <div class="post-blog-box">
            <%= link_to "https://medium.com/@integraprojeto2017/hoje-eu-quero-voltar-sozinho-chegou-no-netflix-e-isso-%C3%A9-muito-importante-6e30e21f15ec", target: "_blank" do %>
              <%= image_tag("home/thumb1.png") %>
            <% end %>
          </div>
          <figcaption>
            <%= link_to "https://medium.com/@integraprojeto2017/hoje-eu-quero-voltar-sozinho-chegou-no-netflix-e-isso-%C3%A9-muito-importante-6e30e21f15ec", target: "_blank" do %>
              <h2 tabindex="0">Hoje Eu Quero Voltar Sozinho’ chegou no Netflix e isso é muito importante</h2>
            <% end %>
            <p tabindex="0">Além de ter uma trilha sonora incrível e atuações impecáveis, esse filme mostra com clareza e delicadeza como a inclusão pode ser natural....</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <div class="post-blog-box">
            <%= link_to "https://medium.com/@integraprojeto2017/seu-logotipo-%C3%A9-visto-por-todos-mas-quem-n%C3%A3o-enxerga-como-o-percebe-1c2f0d49a08e", target: "_blank" do %>
              <%= image_tag("home/thumb2.png") %>
            <% end %>
          </div>
          <figcaption>
            <%= link_to "https://medium.com/@integraprojeto2017/seu-logotipo-%C3%A9-visto-por-todos-mas-quem-n%C3%A3o-enxerga-como-o-percebe-1c2f0d49a08e", target: "_blank" do %>
              <h2 tabindex="0">Seu logotipo é visto por todos? Mas quem não enxerga, como o percebe?</h2>
            <% end %>
            <p tabindex="0">Ei você. Gestor de marcas, Designer gráfico, profissional de Naming, Branding...</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <div class="post-blog-box">
            <%= link_to "https://medium.com/@integraprojeto2017/capacitismo-o-que-%C3%A9-onde-vive-como-se-reproduz-5f853fcb9ba5", target: "_blank" do %>
              <%= image_tag("home/thumb3.jpg") %>
            <% end %>
          </div>
          <figcaption>
            <%= link_to "https://medium.com/@integraprojeto2017/capacitismo-o-que-%C3%A9-onde-vive-como-se-reproduz-5f853fcb9ba5", target: "_blank" do %>
              <h2 tabindex="0">Capacitismo: O que é, onde vive, como se reproduz?</h2>
            <% end %>
            <p tabindex="0">Sou instrutor do laboratório de informática do Instituto de atendimento a pessoas cegas de minha cidade, recebo gente das mais diversas faixas...</p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>
</section>