<section id="home-page" class="blog-page"> 
  <div class="news">
    <div class="title">
      <h1 tabindex="0">Blog Integra</h1>
    </div>

    <div class="with-three-columns">
      <article>
        <figure>
          <%= image_tag("home/main-banner-home.jpg") %>
          <figcaption>
            <h2 tabindex="0">Lorem Ipsum Dolor Sit</h2>
            <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu eros, condimentum at accumsan fringilla, condimentum sed ex.</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <%= image_tag("home/main-banner-home.jpg") %>
          <figcaption>
            <h2 tabindex="0">Lorem Ipsum Dolor Sit</h2>
            <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu eros, condimentum at accumsan fringilla, condimentum sed ex.</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <%= image_tag("home/main-banner-home.jpg") %>
          <figcaption>
            <h2 tabindex="0">Lorem Ipsum Dolor Sit</h2>
            <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu eros, condimentum at accumsan fringilla, condimentum sed ex.</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <%= image_tag("home/main-banner-home.jpg") %>
          <figcaption>
            <h2 tabindex="0">Lorem Ipsum Dolor Sit</h2>
            <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu eros, condimentum at accumsan fringilla, condimentum sed ex.</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <%= image_tag("home/main-banner-home.jpg") %>
          <figcaption>
            <h2 tabindex="0">Lorem Ipsum Dolor Sit</h2>
            <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu eros, condimentum at accumsan fringilla, condimentum sed ex.</p>
          </figcaption>
        </figure>
      </article>

      <article>
        <figure>
          <%= image_tag("home/main-banner-home.jpg") %>
          <figcaption>
            <h2 tabindex="0">Lorem Ipsum Dolor Sit</h2>
            <p tabindex="0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu eros, condimentum at accumsan fringilla, condimentum sed ex.</p>
          </figcaption>
        </figure>
      </article>
    </div>
  </div>
</section>