<footer>
  <div class="content">
    <div class="footer-logo">
      <%= image_tag("integra-white.png") %> 
    </div>

    <ul>
      <li>
        <%= link_to("Como Funciona", "#") %>
      </li>

      <li>
        <%= link_to("Preço", "#") %>
      </li>

      <li>
        <%= link_to("Blog", "#") %>
      </li>

      <li>
        <%= link_to("Ajuda", "#") %>
      </li>
    </ul>
    
    <div class="footer-icons">
      <%= link_to 'https://www.facebook.com/Integra-162225684377155/', target: "_blank" do %>
        <i class="ion-social-facebook"></i>
      <% end %> 
      <%= link_to 'http://instagram.com/projetointegra', target: "_blank" do %>
        <i class="ion-social-instagram-outline"></i>
      <% end %> 
    </div>
  </div>
</footer>