<footer>
  <div>
    <%= image_tag("integra-white.png") %> 
  </div>

  <ul>
    <li>
      <%= link_to("Como Funciona", "#") %>
    </li>

    <li>
      <%= link_to("Preço", "#") %>
    </li>

    <li>
      <%= link_to("Blog", "#") %>
    </li>

    <li>
      <%= link_to("Ajuda", "#") %>
    </li>
  </ul>

  <i class="ion-social-facebook"></i>
  <i class="ion-social-instagram-outline"></i>
</footer>