<!DOCTYPE html>
<html>
  <head>
    <title>YukiAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <%= render :partial => "layouts/header" %>

    <div class="container site-content">
      <%= yield %>
    </div>

    <div id="container-effect">
      <button class="effects-button"> 
        <i class="ion-ios-body"></i> 
      </button>
      <div class="container-options hide">
        <p>Simulador de (des)acessibilidade</p>
        <p>Escolha a deficiência a ser simulada</p>
        <button class="button2">
          <i class="ion-eye"></i>
          Voltar ao normal
        </button>
        <button class="button">
          <i class="ion-ios-eye-outline"></i>
          Baixa visão
        </button>
      </div>
    </div>

  <% if request.path.include? "tester" %>
    <%= render :partial => "layouts/footer_tester" %>
  <% else %>
    <%= render :partial => "layouts/footer" %>
  <% end %>
  </body>
</html>

