<!DOCTYPE html>
<html>
  <head>
    <title>Integra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  <% if request.path.include? "tester" %>
    <%= render :partial => "layouts/header_tester" %>
  <% elsif request.path.include? "worker_projects" %>
    <%= render :partial => "layouts/header_tester" %>
  <% else %>
    <%= render :partial => "layouts/header" %>
  <% end %>

  <div class="container site-content">
    <%= yield %>
  </div>

  <div id="container-effect" class="expose">
    <button class="effects-button"> 
      <i class="ion-ios-body"></i> 
    </button>
    <div class="container-options hide">
      <p>Simulador de (des)acessibilidade</p>
      <p>Escolha a deficiência a ser simulada</p>
      <button class="button2">
        <i class="ion-eye"></i>
        Voltar ao normal
      </button>
      <button class="button3">
        <i class="ion-eye-disabled"></i>
        Cegueira
      </button>
      <button class="button">
        <i class="ion-ios-eye-outline"></i>
        Baixa visão
      </button>
      <button class="button4">
        <i class="ion-ios-glasses-outline"></i>
        Daltonismo
      </button>

      <p>
        Baixe também o <%=link_to 'plugin', "#" %> do simulador para o chrome e o app VR para seu <%=link_to 'android', "#" %>
      </p>
    </div>
  </div>

  <div id="overlay"></div>
  <div id="overlay2"></div>

  <% if request.path.include? "tester" %>
    <%= render :partial => "layouts/footer_tester" %>
  <% elsif request.path.include? "worker_projects" %>
    <%= render :partial => "layouts/footer_tester" %>
  <% else %>
    <%= render :partial => "layouts/footer" %>
  <% end %>
  </body>
</html>

